* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
}

.sub {
    background-color: #eee;
    display: block;
    width: 70px;
    height: 20px;
    padding: 5px;
    margin: 3px;
    float: right;
}

.content {
    background-color: #eee;
}

.content .box {
    width: 100px;
    height: 150px;
    background-color: #fff;
    float: right;
    margin: 5px;
}

.content .box img {
    width: 100px;
    height: 100px;
}